.header {
    font-family: 'Rock Salt', cursive;
    font-style: italic;
    caption-side: bottom;
    color: #666;
    letter-spacing: 1px;
}
.th,td {
    padding: 20px;
    border: 1px solid black;
}
.box {
    font-family: 'Rock Salt', cursive;
    font-style: italic;
    color: #666;
    font-size: 15px;
    text-align: center;
}
.th:nth-child(6), th:nth-child(7) {
    color: red;
}
.td:nth-child(6),.td:nth-child(7) {
    color: red;
    font-weight:bolder ;
}
.headerWrapper {
    display: flex;
    align-items: center;

}